/* Custom hover style for DataTables pagination buttons */
.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #a00 !important; /* warna teks normal */
    border: 1px solid transparent;
    background-color: white;
    margin: 0 2px;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #d9534f !important; /* warna hover background */
    color: white !important;
    border: 1px solid #b52b27 !important;
}

/* Aktif */
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #a00 !important;
    color: white !important;
    border: 1px solid #900 !important;
}
